        * {
            font-family: Arial, sans-serif;
            font-weight: 300;
            font-size: 100%;
            overflow-x: hidden;
        }
        
        .logo {
            display: block;
            margin: 10px auto auto auto;
            width: 25%;
            height: 25%;
        }
        
        hr {
            background-color: black;
        }
        
        .heading1 {
            text-decoration-line: underline;
            margin: 1% 0% 2% 7%;
            font-weight: 150;
        }
        /* heading 2 section */
        
        .row {
            line-height: 1.5em;
            padding: 0% 7% 0% 7%;
            color: #808080;
        }
        
        .box {
            height: 85px;
            width: 100%;
            background-color: #cacaca;
            margin-bottom: 20px;
        }
        
        .button,
        .submit {
            background-color: #000000;
            color: white;
            width: fit-content;
            border-color: #000000;
            border-width: 10px;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        /* contact section */
        
        .contact {
            color: white;
            background-color: #cacaca;
            padding-top: 2%;
            width: 100%;
            margin-bottom: 2%;
            text-align: center;
        }
        
        .form-group {
            width: 50%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        .form-group2 {
            width: 50%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 10fr;
        }
        
        .label {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
            text-align: left;
        }
        
        .invalid-feedback {
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            text-align: right;
            font-style: italic;
        }
        
        .form-control {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        
        #message {
            grid-column: 1 / 3;
            grid-row: 2 / 12;
        }
        /* javascript puzzle & footer*/
        
        #bottom-paragraph {
            margin-left: 7%;
            padding-bottom: 15%;
            line-height: 2em;
        }
        
        footer {
            font-style: italic;
            color: white;
            background-color: black;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 80%;
            margin-bottom: 0%;
            padding-top: 1%;
        }
        /*breakpoints*/
        
        @media only screen and (max-width: 800px) {
            .box {
                margin-top: 2%;
            }
            .contact {
                margin-bottom: 5%;
            }
            .form-group,
            .form-group2 {
                width: 70%;
            }
            .logo {
                width: 35%;
            }
            #thank-you {
                margin: 0% 10% !important;
            }
        }
        
        @media only screen and (min-width: 801px) {
            #bottom-paragraph {
                padding-bottom: 5%;
            }
            .form-group,
            .form-group2 {
                width: 60%;
            }
        }
        /*action_page*/
        
        #thank-you {
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
        }